/* --------------------------------reset -------------------------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

p + p {
    margin-top: 1lh;
}

img {
    width: 100%;
    height: auto;
    display: block;
}
/*------------------------ Header --------------------------*/
header{
    border-bottom: gray solid 0.5px;
}
.header-icons{
    width: 15px;
    height: 15px;
}

nav div div{
    align-items: center;
    width: 100px;
}
nav div{
    display: flex;
    margin-left: 7px;
}
.header-menuimg{
    margin-right: 10px;
}
.header-button{
    background-color: white;
    border: none;
}
.header-button:hover{
    cursor: pointer;
}
header nav{
    display: flex;
    justify-content: space-between;
}

.info-logo{
    width: 500px;
    height: 150px;
    margin-left: -45px;
}

.header-login{
    display: flex;
    align-items: center;
}
.header-loginIMG{
    margin-top: 69.75px;
    margin-right: 20px;
    width: 10px;
    height: 10px;
}
.header-login_button{
   margin-right: -400px;
}
.navigation-atags{
    display: flex;
    justify-content: center;
    gap: 4em;
    box-shadow: 0.5px 0.5px;
    margin-bottom: 20px;
}
a{
    margin-top: 1em;
    text-decoration: none;
    color: black;
}
/*--------------------articles------------------*/
.Annonce-box{
    display: flex;
    justify-content: center;
}
.Annonce{
    width: 900px;
    height: 200px;
    object-fit: cover;
}
.text-annonce{
    text-align: center;
    writing-mode: vertical-rl;
    text-orientation: mixed;
}

.small-icons{
    width: 15px;
    height: 15px;
}


.First-article{
    margin-top: 20px;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: 1fr 2fr;
    height: 100vh;
}

.first-articleimg{
    height: 500px;
    width: 700px;
}
.first-articleSidetext{
    margin-right: 20px;
    justify-self: end;
    margin-top: 230px;
    width: 270px;
    text-align: end;
}

.first-articlePtag{
    margin-bottom: 20px;
    margin-top: 10px;
    width: 555px;
}
article h2{
    width: 700px;
    font-weight: bold;
    font-size: 36px;
}
/*-------------------------Read more----------------------*/
.readmore{
padding-top: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 220px 1fr;
}
.socials-aside{
    width: 300px;
    height: 200px;
    display: flex;
}
.readmore-img{
    width: 15px;
    height: 15px;
}
.readmore-text{
width: 300px;
}
.readmore-text2{
width: 570px;
text-align: center;
align-content:end ;
}
.readmore-text{
grid-column: 2 / 2;
grid-row: 1 / 2;
}
.readmore-text2{
    grid-column: 2 / 2;
    grid-row: 1 / 1;
}

.article-date{
    display: flex;
    gap: 20px;
    margin-top: 45px;
    
}
.article-date p{
    flex-grow: 2;
    gap: 20px;
    border-bottom: 2px dotted;
}

.article-date small{
    flex-grow: 1;
}
.article-date small:last-child{
   margin-right: 310px;
   display: flex;
   justify-content: flex-end;
   
}
.article-date small:first-of-type{
    margin-right: 60px;
    display: flex;
}

.socialmedia-button{
    height: 40px;
    width: 120px;
    margin-top: -100px;
    margin-left: 300px;
}
.socialmedia-buttonimg{
   height: 30px;
   width: 30px;

} 
.social-buttons{
    display: flex;
    align-items: center;
    flex-flow: column;
}
   
.facebook{
    background-color: #306199;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.twitter{
    background-color: #26c4f1;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.gmail{
color: white;
background-color: gray;
display: flex;
align-items: center;
justify-content: space-around;
}
.readmore-subscription{
    width: 560px;
    margin-top: 180px;
    box-shadow: -0px -24px 0px #fefefeec;
}
.readmore-subscription p{
    padding-left: 25px;
    width: 500px;
    font-weight: 800;
    font-size: 18px;
    text-align: center;
   
}
.readmore-subscription a{
   text-decoration: underline;
}
.click-herebutton{
   width: 300px;
   height: 50px;
   border: none;
   background-color: #dd0000 ;
   color: white;
   border-radius: 5px;
   margin-left: 125px;
}
/*---------------------------Did you read-------------------------*/
.didyouread{
    display: flex;
    gap: 20px;
    margin-top: 45px; 
    justify-content: space-between;
}
.didyouread h2{
    display: flex;
    align-items: center;
}
.didyouread-img{
    width: 20px;
    height: 20px;
}
.arrow-left{
    margin-left: 1060px;
    border: none;
    background-color: white;
}
.arrow-right{
    border: none;
    background-color: white;
}